<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="DynHost"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.Light">

        <activity
            android:name="com.example.dynhost.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LSPosed 识别用 -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="DynHost：把模块 APK 丢进目录即可启用并指定作用域" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>
</manifest>
